@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"), url("../fonts/sofiapro-light.otf");
}

@font-face {
  font-family: "Alda OT CEV";
  src: local("Alda OT CEV"), url("../fonts/AldaOT-Light.ttf");
}
